body {
    background-color: rgb(225, 246, 255);
    background-image: url("https://bee.chungwoon.ac.kr/DATA/bbs/642/20191021020550917_RsWeooWu.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30%;
}